@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-snap-type: y proximity;
}

main {
    scroll-snap-type: y proximity;
    overflow: y;
}

.mother {
    scroll-snap-align: center;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(135deg, rgb(167, 113, 230), rgb(93, 7, 192));
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.90);
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
    max-width: 500px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px rgba(18px 18px 60px rgb(0, 0, 0, 0.75));
    border-radius: 8px;
}

section.container .profile {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

div img {
    width: 50px;
}

div img.loading.hide {
    display: none;
}

div p {
    line-height: 24px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

div p.num {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4D282D;
    margin-bottom: 1rem;
}

footer {
    position: relative;
    font-style: italic;
    color: white;
    top: 0;
}

#btn-next {
    margin: 30px;
    background-color: #8e24aa;
    color: #fff;
    opacity: 1;
    visibility: visible;
    width: 4.7em;
    text-transform: uppercase;
    height: 2.5em;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: monospace;
    font-weight: bold;
}

#btn-next.hide {
    opacity: 0;
    visibility: hidden;
}

#btn-next:hover {
    filter: brightness(80%);
}

footer {
    position: absolute;
}